/* :root {
    --btncolor1: #fff;
    --btncolor2: #ff0000;
}  */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 175%;
    font-weight: normal;
    font-style: normal;
    color: #000;

}

a {
    text-decoration: none;
}

.bg,
.header {
    background-color: #F6F2F2;   
}

.header__nav,
.intro,
.services {
    max-width: 1249px;
    margin: 0 auto;
}

/* header */

.header { 
    margin-top: 29px;
}

.header__nav {
    background-color: #000;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 89px;
    min-width: 466px;
    margin: 0;
    padding: 0;
}

.menu__item {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 23px;

}

.menu__item:hover {
    background-color: #FF3F40;
}

.menu__link {
    text-transform: uppercase;
    color: #E0E0E0;
    font-size: 14px;
	font-weight: bold;
    text-align: auto;
}

/* intro */

.intro {
    display: flex;
    margin: 0 auto; 
    padding: 101px 0 110px;   
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.intro__content > h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.intro__content > h1 > span {
    letter-spacing: 6px;
    word-break: break-all;
}

.intro__content > p {
    font-size: 16px;
    line-height: 175%;
    margin-right: 152px;
}

.button {
    box-sizing: border-box;
    display: inline-block;
    /* align-self: flex-start; */
    color: #fff;
    background-color: #FF2D2D;
    width: 227px;
    /* height: 55px; */
    padding: 15px 0;
    text-align: center;
    /* vertical-align: center; */
    font-size: 18px;
    font-weight: 700;
    line-height: 188%;
    border-radius: 5px;
    margin-top: auto;
}

.button:hover {
    color: #FF2D2D;
    background-color: #fff;
    border: 2px solid #FF0000;
}

.intro__image {
    width: 551px;
    height: 356px;
}

/* services */

.services {
    display: flex;    
    padding: 108px 0 98px;
    border-bottom: #ECECEC solid 5px;
}

.services__content {
    width: 50%;
    margin-right: 101px;
}

.services__content > h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 43px;
    line-height: 131%;
    font-weight: 700;
    margin-bottom: 50px;

}

.services__content > p {
    margin-bottom: 64px;
}


.services__items {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    
}

.serveces__item {
    width: 270px;
    margin-bottom: 52px;
    margin-right: 17px;
}

.serveces__item:nth-of-type(2n) {
    margin-right: 0;
}

.serveces__item > h3::before {
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
}

.service__management::before {
    content: url('../images/service1.svg');
}

.service__design::before {
    content: url('../images/service2.svg');
}

.service__branding::before {
    content: url('../images/service3.svg');
}

.service__animation::before {
    content: url('../images/service4.svg');
}